**/node_modules
week11/day2/Exercises-xp/exercise1/package-lock.json
week11/day2/Exercises-xp/exercise1/package.json
week11/day2/Exercises-xp/exercise2/package-lock.json
week11/day2/Exercises-xp/exercise2/package.json
week11/day2/Exercises-xp/exercise3/package.json
week11/day2/Exercises-xp/exercise3/package-lock.json
week11/day2/daily-challenge/package.json
week11/day2/daily-challenge/package-lock.json
