**/node_modules
week11/day2/Exercises-xp/exercise1/package-lock.json
week11/day2/Exercises-xp/exercise1/package.json
week11/day2/Exercises-xp/exercise2/package-lock.json
week11/day2/Exercises-xp/exercise2/package.json
week11/day2/Exercises-xp/exercise3/package.json
week11/day2/Exercises-xp/exercise3/package-lock.json
week11/day2/daily-challenge/package.json
week11/day2/daily-challenge/package-lock.json
week13/day4/Exercises-xp/exercise1/package-lock.json
week13/day4/Exercises-xp/exercise1/package.json
week13/day4/Exercises-xp/exercise2/package.json
week13/day4/Exercises-xp/exercise2/package-lock.json
week13/day4/Exercises-xp/exercise3/package.json
week13/day4/Exercises-xp/exercise3/package-lock.json
week13/day4/daily-challenge/package.json
week13/day4/daily-challenge/package-lock.json
week15/hackathon-todo-list/package-lock.json
week15/hackathon-todo-list/package.json
week14/day2/daily-challenge/server/.env
week14/day2/exercise-xp.zip
week14/day2/exercise-xp/exercise1/blog-api/.env
