body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    margin-top: 20px;
    color: yellow;
    font-size: 3em;
}

h4 {
    margin-top: 20px;
    color: rgba(255, 255, 0, 0.82);
    font-size: 1em; 
}

.char-info {
    padding: 20px;
    border: 1px solid yellow;
    width: 50%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.loading {
    color: yellow;
    font-size: 1.8em;
    display: none;
}

button {
    margin-top: 25px;
    padding: 10px 30px;
    font-size: 1.5em;
    background-color: yellow;
    cursor: pointer;
}

button:hover {
    background-color: gold;
}