body {
    text-align: center;
    font-family: Arial;
}

#pokemon-image {
    max-width: 460px;
}

.pokedex-container {
    border: 2px solid red;
    padding: 20px;
    max-width: 460px;
    margin: 20px auto;
}

.buttons button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    background-color: red;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: darkred;
}

#loading {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    display: none;
}

#error-message {
    color: red; 
    display: none;
}

#pokemon-id-input {
    width: 80px;
    padding: 5px;
    margin-right: 5px;
}

#go-button {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}

#go-button:hover {
    background-color: darkgreen;
}